.card-container{
	background-color: #0ccac4;
	height: 300px;
	width: auto;
	min-width: 250px;
	text-align: center;
	border-radius: 10px;
	box-shadow: 3px 5px 4px 4px rgba(0,0,0,0.25);
	transition: all 0.1s ease-out;
	padding:20px;
	margin: 15px;
}
.card-container:hover{
	transform: scale(1.05);
}
.card-container:active{
	transform: scale(0.95);
}